
book/_static/.DS_Store
book/_build/
*-checkpoint.ipynb
.DS_Store
book/pracenv/.ipynb_checkpoints/*
book/waveclimate/altimeterData.csv
book/waveclimate/altimeterDataE.csv
book/waveclimate/altimeterDataW.csv
book/waveclimate/seriesH.png
book/waveclimate/whall_wh_distribution.png
book/waveclimate/whall_wh_heatmap.png
book/waveclimate/whall_wh_sd.png
book/waveclimate/__pycache__
book/coastevol/waverunup/__pycache__
book/coastevol/beach/__pycache__
book/coastevol/beach/support/__pycache__
book/reefs/.ipynb_checkpoints/*
book/coastevol/coastsatslope/__pycache__/SDS_slope.cpython-36.pyc
